$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// .browsehappy {
//     margin: 0.2em 0;
//     background: #ccc;
//     color: #000;
//     padding: 0.2em 0;
// }

/* Space out content a bit */
// body {
//     padding-top: 20px;
//     padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//     padding-left: 15px;
//     padding-right: 15px;
// }

// /* Custom page header */
// .header {
//     border-bottom: 1px solid #e5e5e5;
// }

// /* Make the masthead heading the same height as the navigation */
// .header h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
// }

// /* Custom page footer */
// .footer {
//     padding-top: 19px;
//     color: #777;
//     border-top: 1px solid #e5e5e5;
// }

// .container-narrow > hr {
//     margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
// }

// .jumbotron .btn {
//     font-size: 21px;
//     padding: 14px 24px;
// }

// /* Supporting marketing content */
// .marketing {
//     margin: 40px 0;
// }

// .marketing p + h4 {
//     margin-top: 28px;
// }

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }

.googlelogin {
    text-decoration: none;
    list-style-type: none;
}

.googlelog {
    width: 200px;
    height:50px;
}
// Nav Menu for Home Page 
.bmenu {
    margin-left: 650px;
    margin-top: -330px;
    
}
.bmenu li {
    font-size: 20px;
    display: block;
}
.bmenu li a {
    // display: block;
    float: left;
    text-transform: lowercase;
    // text-shadow: 0px 0px 2px #eeb213;
    color: #e2eadf;
    padding: 5px 20px;
    margin: 2px;
    background: #373f32;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.bmenu:hover li a {
    text-shadow: 0px 0px 10px #90EE90;
    color: transparent;
    background: black;
}
.bmenu li a:hover {
    background: rgba(0,0,0,1.0);
    text-shadow: 0px 0px 1px #90EE90;
}
//End Nav Home 

.moneyheader {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  margin-top: 80px;
  min-height: 270px;
  background-image: url(/images/money1.jpg);
  background-repeat: no-repeat;
}

fieldset {
    margin-top: 300px;
}

.movedown {
    margin-top: 500px;
}

body {
    background: #e2eadf;
}
.logo {
    font-family: 'Special Elite', cursive;
    font-size: 80px;
}

.col-lg-5 img {
    width: 150px;
    height:200px;
}
.col-lg-5 p {
    font-family: 'Special Elite', cursive;
    font-size: 25px;  
}
.left {
    margin-top: 50px;
    margin-left: 150px;
}
.right {
    margin-top: 50px;
    margin-right: -200px;
}
.col-lg-2 {
    margin-top: -150px;
    margin-right: -500px;
}
.col-lg-2 img {
    width: 75px;
    height:75px;
}

.col-lg-2 p {
    font-family: 'Special Elite', cursive;
    font-size: 20px; 
}

.welcome {
    margin-top: 350px;
    margin-left: -100px;
    font-family: 'Special Elite', cursive;
    font-size: 25px;
}
// Nav Menu for My Bank Page 
.bmenu4 {
    margin-left: 515px;
    margin-top: -330px;
    
}
.bmenu4 li {
    font-size: 20px;
    display: block;
}
.bmenu4 li a {
    // display: block;
    float: left;
    text-transform: lowercase;
    // text-shadow: 0px 0px 2px #eeb213;
    color: #e2eadf;
    padding: 5px 20px;
    margin: 2px;
    background: #373f32;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.bmenu4:hover li a {
    text-shadow: 0px 0px 10px #90EE90;
    color: transparent;
    background: black;
}
.bmenu4 li a:hover {
    background: rgba(0,0,0,1.0);
    text-shadow: 0px 0px 1px #90EE90;
}
//End Bank Nav 

.quote {
    margin-top: 400px;
}
.quote p {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

.userForm {
    margin-top: 400px;
}

h2 {
    font-family: 'Special Elite', cursive;
}

.user img {
    width: 400px;
    height: 150px;
}

.user p {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}
.weAre {
    margin-top: 400px;

}
.weAre p{
    font-family: 'Special Elite', cursive;
    font-size: 30px;
}
.media img {
    width: 100px;
    height: 100px;
}
.formStart {
    margin-top: 350px;
}
.form-control input:focus {
    border:solid 1px #799379; 
}