<!-- Navigation Bar -->
<div>
	<ul class="bmenu">
	    <li><a href="#">Home</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/mybank">My Bank</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/myProfile">My Profile</a></li>
	</ul>
</div>
<!-- Navigation Bar END -->

<div class="weAre">
	<p>We are Ber Inc. We make real-life applications for real people. We make magic. We take ourselves seriously when necessary...but we also know how to let it go.</p>
	<br>
	<center><p>Much Social Media. </p>

<div class="row media">
	<a href="https://www.facebook.com/mrs.amber.joyner"><img src="images/facebook.png"></a>
	<a href="https://plus.google.com/+AmberJoyner5/posts"><img src="images/google.png"></a>
	<a href="https://twitter.com/amber_joyner"><img src="images/twitter.png"></a>
	<a href="http://amberjoyner.com"><img src="images/wordpress.png"></a>
	<a href="https://www.linkedin.com/pub/amber-joyner/25/65b/412/"><img src="images/linkedin.png"></a></center>

</div>

</div>