<div ng-controller="BorrowedCtrl">
    <script type="text/ng-template" id="borrow.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">

        <p>LOAN MODAL</p>
        <form>
			Name: <input type="text" name="firstname"><br>
			Amount: <input type="text" name="lastname"><br>
			Date: <input type="text" name="firstname"><br>
			Why: <input type="text" name="lastname"><br>
		</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>