<!-- wait for auth to resolve (avoid flashing login page before redirect -->

<div>
<ul class="bmenu">
    <li><a href="#">Home</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
   <!--  <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li> -->
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>
</div>

<div ng-cloak class="row">
    <div class="col-md-12">

        <!-- examples for fun and profit -->
        <!--<div ng-show-auth="login">{{auth.user|json}}</div>-->
        <!--<div ng-show-auth="error,logout">Logged out</div>-->
        <!--<div ng-show-auth="error">{{auth.error}}</div>-->
        <fieldset>
            <legend>Oauth</legend>
            <p>
                <img src ="images/googlelog.png" class="googlelog"ng-click="login('google')">
                <!-- <button class="btn btn-lg btn-primary" ng-click="login('twitter')">Twitter</button> -->
            </p>
        </fieldset>

        

        <br />
        <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

    </div>
</div>