<!-- wait for auth to resolve (avoid flashing login page before redirect -->
<!DOCTYPE html>
<html ng-app="paybackApp">
<head>
</head>
<body>

<!-- Navigation Bar -->
<div>
<ul class="bmenu">
    <li><a href="#">Home</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
   <!--  <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li> -->
    <li><a href="#/about">About</a></li>
</ul>
</div>
<!-- Navigation Bar END -->

<body>

<div ng-cloak class="rowlog">
    <div class="col-md-12">

        <!-- examples for fun and profit -->
        <!--<div ng-show-auth="login">{{auth.user|json}}</div>-->
        <!--<div ng-show-auth="error,logout">Logged out</div>-->
        <!--<div ng-show-auth="error">{{auth.error}}</div>-->
        <fieldset>
            <legend>Oauth</legend>
            <p>
                <a href=""><img src ="/images/googlelog.png" class="googlelog"ng-click="login('google')"></a>
                <!-- <button class="btn btn-lg btn-primary" ng-click="login('twitter')">Twitter</button> -->
            </p>
        </fieldset>

        <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

    </div>
</div>

</body>
</html>