<!DOCTYPE html>
<html ng-app="paybackApp">
<head>
</head>
<body>

<!-- Navigation Bar -->
<div>
<ul class="bmenu">
    <li><a href="#">Home</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/mybank">My Bank</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/myProfile">My Profile</a></li>
    <li><a href="#/about">About</a></li>
</ul>
</div>
<!-- Navigation Bar END -->

<body>

<div class="quote">
  <p>“A good reputation is more valuable than money” -Publilius Syrus</p>
</div>

</body>
</html>

<!-- <div class="footer">
    <p>Ber Inc. @ 2014 </p>     
</div> -->