<!-- <div ng-controller="ModalCtrl">
    <script type="text/ng-template" id="borrow.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">

        <p>I AM IN BORROW</p>
        //     <ul>
        //         <li ng-repeat="item in items">
        //             <a ng-click="selected.item = item">{{ item }}</a>
        //         </li>
        //     </ul>
        //     Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	<div class="row">
  <div class="col-md-6">Loaned Payment
  	<br>
  	<button class="btn btn-default" ng-click="open()">Open me!</button> -->
  	<!-- <button><a href="#/mybank" ng-click="open(options)"><img src="images/owed.png"></a></button> -->
<!-- 
  </div>

    
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div> -->