<!-- Navigation Bar -->
<div>
    <ul class="bmenu">
        <li><a href="#">Home</a></li>
        <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
        <!-- <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li> -->
        <li><a href="#/about">About</a></li>
    </ul>
</div>
<!-- Navigation Bar END -->

<!-- Main Bank and Using Users -->
<div class="row welcome">
	<span class="welcome1">Welcome! {{googleUser | json}}</span><br>
	<center><span style="font-size:55pt" class="bank1">My Bank.</span><br></center>
	<center><span style="font-size:15pt" class="noaccount1">(You have no open transactions at this time.)</span></center>
</div>
<!-- Main Bank and Using Users END-->

<!-- Current User Transactions  -->
<div class="col-lg-5 left">
    <p>Loaned</p>
    <img src="images/owed.png">
</div>

<div class="col-lg-5 right">
    <p>Borrowed</p>
    <img src="images/owe.png">
</div>

<!-- Current User Displayed -->
<h3 class="currentUser"> Current User </h3>
<select class="form-control" ng-model="currentUser" ng-options="userId as user.name for (userId, user) in getUsers()">
    <option value="">Select a User</option>
    <option value="#/newUser">New User</option>
</select>
<!-- Current User Displayed END -->

<div ng-if="currentUser">
    <h3>Transactions</h3>
    <table class="table edit">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
                <th>Business Partner</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr transaction transaction-id="{{id}}" ng-repeat="(id, transaction) in transactions">
                <td><input type="text" ng-model="myTransaction.type" ng-blur="updateTransaction()"/></td>
                <td><input type="text" ng-model="myTransaction.amount" ng-blur="updateTransaction()"/></td>
                <td><input type="text" ng-model="myTransaction.date" ng-blur="updateTransaction()"/></td>
                <td><input type="text" ng-model="myTransaction.description" ng-blur="updateTransaction()"/></td>
                <td><input type="text" ng-model="myTransaction.businessPartner" ng-blur="updateTransaction()"/></td>
                <td><input type="text" ng-model="myTransaction.status" disabled="true"/></td>
                <td><a href="#" ng-click="removeTransaction(id)" class="navbar-link">Remove Transaction</a></td>
            </tr>
        </tbody>
    </table>
</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="col-lg-2">
    <p> New Transaction</p>
    <a href="#/newAccount"><img src="images/$.png"></a>
</div>

<!-- Current User Transactions END  -->