<!-- Navigation Bar -->
<div>
<ul class="bmenu">
    <li><a href="#">Home</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <!-- <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li> -->
    <li><a href="#/about">About</a></li>
</ul>
</div>
<!-- Navigation Bar END -->

<!-- Main Bank and Using Users -->
<div class="row welcome">
	<span class="welcome1">Welcome!</span><br>
	<center><span style="font-size:55pt" class="bank1">My Bank.</span><br></center>
	<center><span style="font-size:15pt" class="noaccount1">(You have no open transactions at this time.)</span></center>
</div>
<!-- Main Bank and Using Users END-->


<!-- Add Users to Database  -->
  <!-- <div class="col-md-4">
    <div class="user">
    <a href="#/newPost"><img src="images/dolla.png"></a>
    <p>Add New User</p></div>
  </div> -->
<!-- Add Users to Database END -->

<!-- Current User Transactions  -->
<div class="col-lg-5 left">
    <p>Loaned</p>
    <img src="images/owed.png">
</div>

<div class="col-lg-5 right">
    <p>Borrowed</p>
    <img src="images/owe.png">
</div>

<div class="col-lg-2">
    <p> New Transaction</p>
    <a href="#/newAccount"><img src="images/$.png"></a>
</div>

<!-- OLD STUFF  -->

<!-- <div class="row">

<div class="col-lg-6">
<div ng-controller="LoanedCtrl">
    <script type="text/ng-template" id="loaned.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">

        <p>LOAN MODAL</p>
	       <form>
			    <input type="text" ng-model="form.name"/>
			    <label>Title:</label>            
			    <input type="text" ng-model="editableVideo.Title" required />
			    <label>Length</label>
			    <input type="number" ng-model="editableVideo.Length" min="1" max="360" />
			    <input type="submit" value="Save" ng-click="saveVideo()" />
			</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
	 	<div class="payments">
	  		<p>Loaned</p>
			<a href="#/mybank" ng-click="open()"><img src="images/owed.png"></a>
	    </div>
	    <div ng-show="selected">Selection from a modal: {{ selected }}
	    </div>
</div>
</div>


<div class="col-lg-6">
<div ng-controller="BorrowedCtrl">
    <script type="text/ng-template" id="borrowed.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">

        <p>BORROWED MODAL</p>
        //     <ul>
        //         <li ng-repeat="item in items">
        //             <a ng-click="selected.item = item">{{ item }}</a>
        //         </li>
        //     </ul>
        //     Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
		 <div class="payments2">
	  		<p>Borrowed</p>
			<a href="#/mybank" ng-click="open()"><img src="images/owe.png"></a>
	    </div>
    <div ng-show="selected">Selection from a modal: {{ selected }}
    </div>
</div>
</div>

</div>