<!-- Navigation Bar -->
<div>
	<ul class="bmenu">
	    <li><a href="#">Home</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
	    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/mybank">My Bank</a></li>
	    <li><a href="#/about">About</a></li>
	</ul>
</div>
<!-- Navigation Bar END -->

<!-- Adding New User Transaction -->
<div class="userForm">
		<h2>Add New Transaction</h2>

    <form class="form-inline" role="form" novalidate ng-submit="addUser()">
        <div class="form-group">
            <input type="text" class="form-control" id='typeInput' placeholder="Transaction Type">
        </div>
        	<br>
        <div class="form-group">
            <input type="number" class="form-control" id='amountInput' placeholder="Transaction Amount">
        </div>
        	<br>
        <div class="form-group">
            <input type="text" class="form-control" id='dateInput' placeholder="Transaction Date">
        </div>
        	<br>
        <div class="form-group">
            <input type="text" class="form-control" id='descriptionInput' placeholder="Transaction Description">
        </div>
        <button type="submit" class="btn btn-default">Add Transaction</button>
    </form>
</div>

    <script>
      var transactionRef = new Firebase('https://payback.firebaseio.com');
	      $('.btn').click(function (e) {
		      	console.log("here");
			          var type = $('#typeInput').val();
			          var amount = $('#amountInput').val();
			          var date = $('#dateInput').val();
			          var description = $('#descriptionInput').val();
			          transactionRef.push({Type: type, Amount: amount, Date: date, Description: description});
			          $('.btn').val('');
        	});
    </script>
<!-- Adding New User Transaction END -->

