<!DOCTYPE html>
<html ng-app="paybackApp">
<head>
</head>
<body>

<!-- Navigation Bar -->
<div>
	<ul class="bmenu">
	    <li><a href="#">Home</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
	    <!-- <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li> -->
	    <li ng-controller="LoginController"><a href="#/mybank">My Bank</a></li>
	    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/myProfile">My Profile</a></li>
	    <li><a href="#/about">About</a></li>
	</ul>
</div>
<!-- Navigation Bar END -->

<!-- Add User to Database  -->
<div class="formStart">
	<h4 class="addUser">Add User {{googleUser.displayName}}<h4>

		<form class="form-inline" role="form" novalidate ng-submit="addUser(newUser)">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newUser.name" placeholder="Full Name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" ng-model="newUser.email" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newUser.city" placeholder="City">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newUser.state" placeholder="State">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newUser.twitter" placeholder="Twitter Handle">
			</div>
			<button type="submit" class="btn btn-default add" value="Add User">Add User</button>
		</form>
</div>
<!-- Add User to Database END  -->

<!-- Current User Displayed -->
<h3 class="currentUser"> Current User </h3>
<select class="form-control" ng-model="currentUser" ng-options="userId as user.name for (userId, user) in getUsers()">
	<option value="">Select a User</option>
	<option value="#/newUser">New User</option>
</select>
<!-- Current User Displayed END -->

<!-- Add Transaction from User to User  -->
<div ng-if="currentUser">
	<h4 class="currentUser">Add Transaction</h4>

	<form class="form-inline" role="form" novalidate ng-submit="addTransaction(newTransaction)">
		<div>
			<select class="form-control" ng-model="newTransaction.type">
				<option value="">Select Transaction Type</option>
				<option value="Loan">Loan</option>
				<option value="Borrow">Borrow</option>
			</select>
		</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newTransaction.amount" placeholder="Amount">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newTransaction.date" placeholder="Date MM/DD/YYYY">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="newTransaction.description" placeholder="Description">
			</div>
			<div class="form-group">
				<select class="form-control" ng-model="newTransaction.businessPartner" ng-options="userId as user.name for (userId, user) in users">
					<option value="">Select a Business Partner</option>
				</select>
			</div>
		<button type="submit" value="Add Transaction" class="btn btn-default currentUserBtn">Add Transaction</button>
	</form>
</div>
<!-- Add Transaction from User to User END  -->

</body>
</html>
