<!-- Navigation Bar -->
<div>
<ul class="bmenu">
    <li><a href="#">Home</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#/mybank">My Bank</a></li>
    <li><a href="#/about">About</a></li>
</ul>
</div>
<!-- Navigation Bar END -->

<!-- Form For Adding New User to Database  -->
<div class="userForm">
<h2>Add New User</h2>

    <form class="form-inline" role="form" novalidate ng-submit="addUser()">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.firstname" placeholder="First Name">
        </div>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.lastname" placeholder="Last Name">
        </div>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.email" placeholder="Email">
        </div>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.city" placeholder="City">
        </div>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.state" placeholder="State">
        </div>
        <br>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.twitter" placeholder="Twitter Handle">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Add User</button>
    </form>
</div>
<!-- Form For Adding New User to Database END -->