<div>
<ul class="bmenu">
    <li><a href="#">Home</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <!-- <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li> -->
    <li><a href="#">About</a></li>
</ul>
</div>

<div class="row">
  <div class="col-md-6">Owed Payment
  	<br>
  	<a href="#/mybank"><img src="images/owed.png"></a>

  </div>
  <div class="col-md-6">Owe Payment 
  	<br>
	<a href="#/mybank"><img src="images/owe.png"></a>
  </div>
</div>

